[buildout]
extensions = mr.developer
sources = sources
parts =
    eggs
    testrunner

auto-checkout =
    subssh
    revisioncask

[sources]
subssh = git git@github.com:epeli/subssh.git
revisioncask = git git@github.com:epeli/revisioncask.git

[eggs]
recipe = zc.recipe.egg
interpreter = python
eggs =
    subssh
    revisioncask
    nose
    ipython


[testrunner]
recipe = collective.recipe.template
mode = 755
input = inline:
    #!/bin/bash
    ${buildout:bin-directory}/nosetests ${buildout:directory}/src/subssh/tests/ "$@"
output = ${buildout:bin-directory}/runtests
